body {
	
}

p{
	color:#ffffff;
	font-family: sans-serif;
	margin-left: 5px;
	line-height: 30px;
}

section{
	background-color: #000000;
	height: 15em;
	margin-left: 10em;

}

.logo{
	float: left;
	max-width: 100%;
	padding: 20px;
}

#left
    {
      width: 200px;
      float: left;
    }

    #right
    {
      margin-left: 200px; /* Change this to whatever the width of your left column is*/
    }

    .clear
    {
      clear: both;
    }

#header{

	background: url(http://ortizfoto.smugmug.com/photos/i-Gp5KC7W/0/X3/i-Gp5KC7W-X3.jpg);
	background-size: 100%; background-repeat: no-repeat;	
	height: 900px;
	margin: 5em 10em 5em 10em;

